:root {
  --system-ui: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.element {
  font-family: var(--system-ui);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--system-ui);
}

header {
  padding: 1rem clamp(3rem, -0.25rem + 5vw, 5rem);
  display: flex;
  justify-content: center;
  align-items: center;
}

.test {
  color: red;
}

.game-section {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: clamp(1rem, 0.3rem + 5vw, 5rem);
}

.gameboard-container {
  width: 100%;
  max-width: 640px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.board-cell {
  border: 1px solid;
  width: clamp(1rem, 0.2rem + 3vw, 3rem);
  height: clamp(1rem, 0.2rem + 3vw, 3rem);
}

.ship {
  background-color: #4ca4f7;
  border: 3px solid #1e48a2;
  margin-left: -1px;
}

.hit {
  background-color: #ff2b2b;
}

.missed {
  background-color: #b1b1b1;
}
